- if notice
  .alert.alert-success.alert-dismissible
    %button.close{ type: 'button', data: { dismiss: 'alert' } }
      %span &times;
    %p= notice
- if alert
  .alert.alert-danger.alert-dismissible
    %button.close{ type: 'button', data: { dismiss: 'alert' } }
      %span &times;
    %p= alert
